<span class="input-group-btn">
    <button {{action 'previous'}} class='previous btn btn-default' type='button'>
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
</span>

{{input class = 'form-control'
        placeholder = 'Slide #'
        value = seekNum
        action = 'seekTo'}}

<span class="input-group-btn">
    <button {{action 'next'}} class='next btn btn-default' type='button'>
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</span>
