<label for="{{unbound checkBoxId}}">
    {{label}}
    <input id="{{unbound checkBoxId}}"
           type="checkbox"
           {{bindAttr checked="checked"}}>
    <div class="switch"></div>
</label>
