/* Put your CSS here */

/*@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
*/
html, body {
    min-height: 100%;
}

body {
    position: relative;
}

.container.index .jumbotron {
  text-align: center;
  font-size: 2.5em;
}

.index .pitch {
  background-color: #FFEFD5;
}

.container.overlay:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #2C3E50;
}

.container.presentation {
 padding: 0 20px 0 0;
 width: 100%;
}

#video-view iframe {
  width: 100%;
  height: 100%;
}

.presentation #deck-player-wrapper,
.presentation img#deck-player {
  height: 100%;
}

.presentation img#deck-player {
  width: 100%;
}

.presentation #video-view {
  height: 200px;
}

.presentation .sequences-table {
  height: 360px;
  overflow-y: scroll;
  margin: 10px 0;
}

#new-form .modal-content {
  background-color: #FFEFD5;
}

.new #deck {
  height: 396px;
}

.new #deck-player {
  width: 100%;
  height: 100%;
}

.new #video-view {
    height: 300px;
}

.input-slider {
    width: 100%;
}

.start-time-form input {
    width: 70px;
}

.sequence-new input {
    width: 140px;
}

form.sequence-new button {
    width: 140px;
}

.new .sequences-table {
  height: 188px;
  overflow-y: scroll;
  margin-left: 10px;
}

.new .sequences-column {
  border-left: 1px solid #ddd;
}

.sequences-table .past {
    background-color: #ECF0F1;
}

.new .sequences-table .th,
.new .sequences-table .td {
    float: left;
}

.new .sequences-table .col1,
.new .sequences-table .col2,
.new .sequences-table .col2 input {
    width: 70px;
}

.new .sequences-table .col3,
.new .sequences-table .col3 input {
    width: 50px;
}

.modal {
    display: block;
}

#new-form {
    width: 500px;
    height: 500px;
    margin: auto;
}

#new-form .modal-content {
    padding: 30px 60px 30px 60px;
}

#new-form input {
        width: 200px;
}

.deck-controls input {
    text-align: center;
}

.sequence-start-input button {
    background-color: #F8F8FF;
}

.finish-tab-content input.form-control {
    cursor: pointer;
}

/* http://hawkins.io/2013/07/ember-toggle-switch/ */
.toggle-switch label {
  font-size: 100%;
  display: inline;
}

.toggle-switch.muted label {
  color: #33333;
}

.toggle-switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.toggle-switch input[type="checkbox"] + div {
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0 .5em;
  background: white;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent), -webkit-linear-gradient(0deg, #3d99f5 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: padding, width, background-position, text-indent;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset;
  font-size: 130%;
  /* change this and see how they adjust! */
}

.toggle-switch.large input[type="checkbox"] + div {
  font-size: 170%;
}

.toggle-switch.xxlarge input[type="checkbox"] + div {
  font-size: 190%;
}

.toggle-switch input[type="checkbox"]:checked + div {
  padding-left: 2em;
  background-position: 0 0;
}

.toggle-switch input[type="checkbox"] + div:before {
  content: 'On';
  text-align: left;
  float: left;
  width: 1.65em;
  height: 1.65em;
  margin: -.1em;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: inherit;
  background: white;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -2.5em;
}

.toggle-switch input[type="checkbox"]:active + div:before {
  background-color: #eee;
}

.toggle-switch input[type="checkbox"] + div:before,
.toggle-switch input[type="checkbox"] + div:after {
  font-size: 60%;
  line-height: 1.7;
  text-transform: uppercase;
}

.toggle-switch input[type="checkbox"] + div:after {
  content: 'Off';
  text-align: left;
  float: left;
  text-indent: .5em;
  text-shadow: none;
}

/* http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { transform: scale(0.0) }
  40% { transform: scale(1.0) }
}

/* http://www.developerdrive.com/2013/09/how-to-style-range-sliders-in-webkit/ */
input[type='range'] {
    -webkit-appearance: none;
    background-color: #3498db;
    height: 8px;
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid gray;
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

