/* Put your CSS here */

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

.left-bar {
    height: 98%;
    width: 75%;
}

.right-bar {
    width: 25%;
}

#widget2 {
    min-height: 200px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}
