<h4>Time Your Slides</h4>

<div class="row">
    <div class="col-md-12">
        <label>Slide Number</label>
    </div>
</div>

<div class='row form-group input-group-sm'>
    <div class="col-md-6 col-md-offset-1">
        {{deck-controls slide=slide}}
    </div>

    <div class="col-md-4">
       <button type = 'button'
                class = 'btn btn-success btn-sm'
                {{action 'addSequence'}}>
            Add Slide
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="help-block">
            Before pressing the <em>Add Slide</em> button, set your video to the time at which this slide will start.
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label>Presentation Mode</label>
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        {{toggle-switch action='changePresentationMode'}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="help-block">
            Turning on <em>Presentation Mode</em> will cause the slides follow the current slide sequence.
        </span>
    </div>
</div>
