<h4>View Your Presentation</h4>

<div class="form-group">
    <label>Presentation Address</label>

    {{input class = 'form-control'
            readonly = 'readonly'
            value = url}}

    <a target='_blank'
       class='btn btn-default btn-success'
       {{bind-attr href='path'}}>
        View now
    </a>
</div>

<div class="form-group">
    <label>Shortened Address</label>

    {{input class = 'form-control'
            readonly = 'readonly'
            value = shortUrl}}

    <a {{action 'shortenUrl'}}>
        Get <em>is.gd</em> URL
    </a>
</div>



