<div class="row form-group">
    <div class="col-md-12">
        <label>Full Presentation Address</label>

        <div class="input-group">
            {{input class = 'form-control'
                    readonly = 'readonly'
                    value = url}}

            <span class="input-group-btn">
                <a target = '_blank'
                   class = 'btn btn-success'
                   {{bind-attr href='path'}}>
                    View Now &nbsp;
                    <span class="fa fa-external-link"></span>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-4">
        <label>Shortened Address</label>

        <div class="input-group">
            {{input class = 'form-control'
                    readonly = 'readonly'
                    value = shortUrl}}

            <span class="input-group-btn">
                <a class='btn btn-default'
                   {{action 'shortenUrl'}}>
                    Get <em>is.gd</em> URL &nbsp;
                    <span class="fa fa-exchange"></span>
                </a>
            </span>
        </div>
    </div>
</div>
