<tr>
    <td>
        {{input value=proxy.start}}
        <br>
        ({{format-seconds proxy.start}})
    </td>
    <td>
        {{input value=proxy.slide}}
    </td>
    <td>
        <button {{action 'save'}}>Save</button>
    </td>
</tr>
