<div class='col-md-12 sequences-table scroll'>
    <div class='tr row'>
        <div class='th col1'>Time</div>

        <div class='th col2'>(seconds)</div>

        <div class='th col3'>Slide</div>
        <div class='th col4'></div>
    </div>

    {{#each}}
        {{#if isEditing}}
            {{partial 'sequence/edit'}}
        {{else}}
            {{partial 'sequence/view'}}
        {{/if}}
    {{/each}}
</div>
