<header class='page-header'>
    <h1>Slides-O-Matic <small>Sync up a slide deck to video or audio</small></h1>
</header>

<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <p>Because your presentation is more than just your slides</p>
            <p>
                <a href='#/new' class='btn btn-success btn-default active'>Create A Presentation</a>
            </p>
        </div>
    </div>
</section>

<section class="row pitch">
    <div class="col-md-4">
        <h3>Present in Style</h3>
        <p>You've spent a lot of effort on your presentation. You even recorded it. Don't just post your slides. Share them the way you intended.</p>
    </div>
    <div class="col-md-4">
        <h3>Fast & Easy</h3>
        <p>No user account or login is required. Use a video or audio file and slide deck that you've already uploaded to another site. After you time your slides to your media, you get a link that you can use to view your presentation or edit it later.</p>
    </div>

    <div class="col-md-4">
        <h3>Media</h3>
        <p>
            For slides, you can use
            <a href="http://www.slideshare.net/">SlideShare</a>
            or
            <a href="https://speakerdeck.com/">Speaker Deck</a>.
        </p>

        <p>Use your
            <a href='http://www.youtube.com/'>YouTube</a>
            videos. Vimeo videos are in the works.
        </p>

        <p>Just want to add sound instead of video? Use <a href="https://soundcloud.com/">SoundCloud</a>.</p>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-12">
            <h2>
                Examples
            </h2>
        </div>

        <div class="col-md-6">
            <a class="thumbnail" href='#/show?v=1&d=0brandonsatrom%2Fsecrets-of-awesome-javascript-api-design&m=2QlQm786MClE&s=010000206k0309Y040AK050Ae060C2070Dm080FK090Fo0A0Ic0B0Lk0C0PA0D0Qk0E0SI0F0WW0G0g-0H0iY0I0qC0J0to0K0xE0L1540M16o0N1BK0O1HQ0P1TS0Q1V00R1cq0S1fU0T1fe0U1js0V1oY0W1va0X1vu0Y26E0Z26Y0a2EW0b2Eq0c2Gs0d2H00e2LO0f2LY0g2O-0h2Su0i2W00j2Zm0l2mu0n2nq0o2qy0p2ra0q2w60r30g0s33U0t38e0u37i0v3AM0w3Bw0x3FC0y3KW0z3QI0-3RE0_3Vm103Y6113ZW123bO133d6143gY153hK163iu173kS183li193qi1A3sQ1B3v41C3vs1D3yM1E3yq1F3_y1G44e1H46q1I48E1J49A1K4Ey1L4FQ1M4GC1N4Ka1O4Mm1P4PG1R4Si1S4U61T4Uu1V4YK1X4YU1Y4bI1Z4ek1a4fM1b4fg1c4iy1d4kW1e4kq1f4lw1g4ms1h4no1i4oQ1j4ok1k4pC1l4pW1m4q81n4r41o4ri1p4sK1q4x01r4yG1s4-c1t4_E1u53S1v56G1w56u1x59E1y5C21z5FU1-5RC1_5Ze' class='example'>
                <img src="assets/secrets_of_awesome_js_api_design_bsatrom_50.png" alt="example slide 1">
            </a>
        </div>

        <div class="col-md-6">
            <a class="thumbnail" href='#/show?v=1&d=1tboyt%2Fpresentation-27430110&m=2bzT0ezT-Jn8&s=018-O0292m0394K0499K059EK069Pk079Rw089SE079XE089ZQ099b80A9gw0B9pq0C9yu0DA4s0EAAy0FAka0GAsY' class='example'>
                <img src="assets/eak_tboyt_50.png" alt="example slide 1">
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <a class="thumbnail" href='#/show?v=1&d=1nzakas%2Fmaintainable-javascript-2012&m=2c-kav7Tf834&s=010000207W030J4040KU050Os070Zy090sY0A0-g080gC0C11o0D1U40E1cC0F1dm0G1iw0H1o40I1r-0J1uU0K1w-0L1zU0M1-60N22U0O2Eg0P2JW0Q2KS0R2OM0S2Re0T2SQ0U2Su0V2cG0W2f40X2ly0Z3300a3IU0b3KW0c3Ou0d3So0e3ac0f3fc0g3iu0h3pc0i3qs0j3tq0k3_A0l48E0m4Ni0n4QW0o4Uk0p4gm0q4pM0r5Es0s5FK0t5Gk0u5HW0v5W20w5fk0x5lq0y5p60z5ty0-5x40_5--1066y1169c126EI136Ki146Ly156Pi166Qy176S2186S-186S-196Us1A6Vy1B6Yc1C6aU1D6cg1E6f01F6h21G6k01H6ko1I6oE1J6oO1K6rM1L6sc' class='example'>
                <img src="assets/maintainable_js_nzakas_50.png" alt="example slide 1">
            </a>
        </div>

        <div class="col-md-6">
            <a class="thumbnail" href="#/show?v=1&d=0jrallison%2Fember-components&m=28MYcjaar7Vw&s=013Yk023rA033uc043zc053-i0640u074AG084EA094Mc0A4To0B4Y00C4gc0D4lc0E4vS0F51Q0G56k0H5BG0I5La0J5Qk0K5Wg">
                <img src="assets/ember_components_jrallison_50.png" alt="">
            </a>
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <aside class='md-col-2 col-md-offset-10'>
            <em>
                Powered by
                <small><a href="http://emberjs.com/"><img src="assets/tomster-sm.png" alt=""></a></small>
            </em>
        </aside>
    </div>
</footer>
