<div class="left-bar fl">
    {{slidedeck-deck docId = deck.docId
                     action = 'setSlidePlayer'}}
</div>

<div class='right-bar fr'>
    <div class='sm-player'>
        {{popcorn-video id  = 'video-view'
                        src = video.url
                        start = video.start
                        action = 'updateSequence'
                        setPlayer = 'setVideoPlayer'}}
    </div>

    <div class="details fl">
        {{outlet sequences}}
    </div>

    <div class="nav fr">
        <a href="#" {{action 'toggleEdit'}}>
            Edit Mode
        </a>
    </div>
</div>
