<header>
    <h1>
        VideoSlide
    </h1>
</header>

<section>
    <h2>
        A Video & Slide Show Presenter
    </h2>

    <p>
        Combine a <a href="http://www.youtube.com/">YouTube video</a> and <a href="http://www.slideshare.net/">SlideShare slides</a> into one presentation.
    </p>

    <p>
        <a href='#/new' class='btn btn-success btn-default active'>Creat A Presentation</a>
    </p>

    <p>
        No user accounts or login required. After you setup your presentation, you are given a URL that contains all of the needed information.
    </p>

    <p>
        Only YouTube and SlideShare are supported at this time.
    </p>
</section>

<section>
    <h3>
        Example
    </h3>
    <a href='#/show?deck=http%3A%2F%2Fwww.slideshare.net%2Ftboyt%2Fpresentation-27430110&video=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DbzT0ezT-Jn8&seq=3676-1l3704.7-2l3714.2-3l3746.8-4l3778.6-5l3850.5-6l3865.3-7l3867-8l3899.6-7l3913.7-8l3924.5-9l3961.3-10l4018.1-11l4076.7-12l4127.2-13l4166.5-14l4394.5-15l4445.5-16' class='example'>
        <img src="assets/videoslide600x300.png" alt="example slide 1">
    </a>
</section>

<footer>
    <aside>
        <a href="http://emberjs.com/">An Ember App</a>
    </aside>
</footer>
