<header class='page-header'>
    <h1>VideoSlide <small>A Video & Slide Show Presenter</small></h1>
</header>

<section>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <p>
                    Combine an online video and slide deck into one presentation
                </p>

                <p>
                    <a href='#/new' class='btn btn-success btn-default active'>Create A Presentation</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Fast & Easy</h3>
            <p>No user account or login is required. Use a video and slide deck that you've already uploaded to another site. After you time your slides to your video, you get a link that you can use to view your presentation or edit it later.</p>
        </div>

        <div class="col-md-6">
            <h3>Support</h3>

            <p>Currently, you can use
                <a href='http://www.youtube.com/'>YouTube</a>
                videos. Vimeo videos are in the works.
            </p>

            <p>
                For slides, you can use
                <a href="http://www.slideshare.net/">SlideShare</a></li>
                or
                <a href="https://speakerdeck.com/">Speaker Deck</a></li>.
            </ul>
        </div>
    </div>
</section>

<section>
    <h3>
        Example
    </h3>
    <a href='#/show?deck=http%3A%2F%2Fwww.slideshare.net%2Ftboyt%2Fpresentation-27430110&video=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DbzT0ezT-Jn8&seq=3676-1l3704.7-2l3714.2-3l3746.8-4l3778.6-5l3850.5-6l3865.3-7l3867-8l3899.6-7l3913.7-8l3924.5-9l3961.3-10l4018.1-11l4076.7-12l4127.2-13l4166.5-14l4394.5-15l4445.5-16' class='example'>
        <img src="assets/videoslide600x300.png" alt="example slide 1">
    </a>
</section>

<footer>
    <aside>
        <a href="http://emberjs.com/">An Ember App</a>
    </aside>
</footer>
