<header class='page-header'>
    <h1>Slides-O-Matic <small>Sync up a slide deck to video or audio</small></h1>
</header>

<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <p>Because your presentation is more than just your slides</p>
            <p>
                <a href='#/new' class='btn btn-success btn-default active'>Create A Presentation</a>
            </p>
        </div>
    </div>
</section>

<section class="row pitch">
    <div class="col-md-4">
        <h3>Present in Style</h3>
        <p>You've spent a lot of effort on your presentation. You even recorded it. Don't just post your slides. Share them the way you intended.</p>
    </div>
    <div class="col-md-4">
        <h3>Fast & Easy</h3>
        <p>No user account or login is required. Use a video or audio file and slide deck that you've already uploaded to another site. After you time your slides to your media, you get a link that you can use to view your presentation or edit it later.</p>
    </div>

    <div class="col-md-4">
        <h3>Media</h3>
        <p>
            For slides, you can use
            <a href="http://www.slideshare.net/">SlideShare</a>
            or
            <a href="https://speakerdeck.com/">Speaker Deck</a>.
        </p>

        <p>Use your
            <a href='http://www.youtube.com/'>YouTube</a>
            videos. Vimeo videos are in the works.
        </p>

        <p>Just want to add sound instead of video? Use <a href="https://soundcloud.com/">SoundCloud</a>.</p>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-12">
            <h2>
                Examples
            </h2>
        </div>

        <div class="col-md-6">
            <a class="thumbnail" href='#/show?deck=https%3A%2F%2Fspeakerdeck.com%2Fbrandonsatrom%2Fsecrets-of-awesome-javascript-api-design&video=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQlQm786MClE&seq=0-1l43-2l61-3l66-4l68-5l77-6l88-7l98-8l101-9l119-10l139-11l161-12l171-13l181-14l208-15l275-16l285-17l334-18l357-19l379-20l442-21l453-22l482-23l521-24l598-25l608-26l658-27l675-28l676-29l703-30l733-31l778-32l780-33l859-34l861-35l912-36l914-37l927-38l928-39l956-40l957-41l979-42l1004-43l1024-44l1048-45l1132-47l1138-49l1158-50l1162-51l1191-52l1233-53l1251-54l1284-55l1278-56l1295-57l1305-58l1326-59l1360-60l1397-61l1403-62l1432-63l1447-64l1456-65l1468-66l1479-67l1501-68l1506-69l1516-70l1526-71l1534-72l1566-73l1577-74l1594-75l1599-76l1615-77l1618-78l1638-79l1668-80l1682-81l1691-82l1697-83l1734-84l1737.8-85l1742.2-86l1770.8-87l1784.2-88l1800.6-89l1822.6-91l1831.8-92l1836.8-93l1858.4-95l1859.6-97l1877.6-98l1899.8-99l1903-100l1905.8-101l1926.8-102l1936.4-103l1938.2-104l1945.6-105l1951.2-106l1957.4-107l1961.4-108l1963.6-109l1966.3-110l1968.7-111l1972.5-112l1978.1-113l1982.3-114l1986.9-115l2016.5-116l2024.5-117l2039.9-118l2043.1-119l2070.5-120l2088.9-121l2092.3-122l2107.5-123l2125.3-124l2147.7-125l2222.9-126l2276.9-127' class='example'>
                <img src="assets/secrets_of_awesome_js_api_design_bsatrom_50.png" alt="example slide 1">
            </a>
        </div>

        <div class="col-md-6">
            <a class="thumbnail" href='#/show?deck=http%3A%2F%2Fwww.slideshare.net%2Ftboyt%2Fpresentation-27430110&video=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DbzT0ezT-Jn8%23t%3D3676&seq=3676-1l3704.7-2l3714.2-3l3746.5-4l3778.3-5l3851-6l3865.5-7l3867.3-8l3899.9-7l3913.7-8l3924.9-9l3961.4-10l4018.3-11l4076.9-12l4127.2-13l4166.3-14l4394.6-15l4445.6-16' class='example'>
                <img src="assets/eak_tboyt_50.png" alt="example slide 1">
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <a class="thumbnail" href='#/show?deck=http%3A%2F%2Fwww.slideshare.net%2Fnzakas%2Fmaintainable-javascript-2012&video=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dc-kav7Tf834&seq=0-1l48-2l122-3l131-4l159-5l230-7l349-9l401-10l270-8l421-12l602-13l654-14l664-15l697-16l730-17l755-18l771-19l787-20l803-21l807-22l835-23l913-24l944-25l950-26l975-27l996-28l1001-29l1004-30l1064-31l1082-32l1126-33l1248-35l1347-36l1360-37l1388-38l1413-39l1463-40l1495-41l1516-42l1559-43l1567-44l1586-45l1633.1-46l1691.6-47l1790.9-48l1808.9-49l1835.3-50l1912.2-51l1967.3-52l2143.8-53l2146.4-54l2155.5-55l2160.1-56l2253.7-57l2315.3-58l2354-59l2375.5-60l2406.5-61l2426.4-62l2451.3-63l2502.3-64l2519.1-65l2549.6-66l2590.4-67l2598.8-68l2622.7-69l2630.9-70l2637.5-71l2643.3-72l2643.5-72l2655.5-73l2662.1-74l2679.5-75l2691.9-76l2705.5-77l2720.9-78l2733.1-79l2752.8-80l2757.4-81l2779.4-82l2780.6-83l2799.6-84l2807.4-85' class='example'>
                <img src="assets/maintainable_js_nzakas_50.png" alt="example slide 1">
            </a>
        </div>

        <div class="col-md-6">
            <a class="thumbnail" href="#/show?deck=https%3A%2F%2Fspeakerdeck.com%2Fjrallison%2Fember-components&video=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D8MYcjaar7Vw%23t%3D1451&seq=1451-1l1569.8-2l1591.3-3l1623.4-4l1630.3-5l1644.9-6l1704.5-7l1729.8-8l1783.7-9l1829.1-10l1856.6-11l1911.1-12l1943.3-13l2006.3-14l2057.2-15l2091.1-16l2120.8-17l2186.8-18l2219.1-19l2257.4-20">
                <img src="assets/ember_components_jrallison_50.png" alt="">
            </a>
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <aside class='md-col-2 col-md-offset-10'>
            <em>
                Powered by
                <small><a href="http://emberjs.com/"><img src="assets/tomster-sm.png" alt=""></a></small>
            </em>
        </aside>
    </div>
</footer>
