<div id="media-view">
  {{#unless editMode}}
    <button type = "button"
            class = "close close-media-button hide"
            {{action 'fullVideoOff'}}>
      &times;
    </button>
  {{/unless}}

  {{#if youtube}}
    {{youtube-video media = content
                    time = time
                    setPlayer = 'setPlayer'}}
  {{/if}}

  {{#if vimeo}}
    {{vimeo-video media = content
                  time = time
                  setPlayer = 'setPlayer'}}
  {{/if}}

  {{#if soundcloud}}
    {{soundcloud-audio media = content
                       time = time
                       setPlayer = 'setPlayer'}}
  {{/if}}
</div>
