<div id="media-view">
  {{#if youtube}}
    {{youtube-video media = content
                    time = time
                    setPlayer = 'setPlayer'}}
  {{/if}}

  {{#if vimeo}}
    {{vimeo-video media = content
                  time = time
                  setPlayer = 'setPlayer'}}
  {{/if}}

  {{#if soundcloud}}
    {{soundcloud-audio media = content
                       time = time
                       setPlayer = 'setPlayer'}}
  {{/if}}
</div>
