<div id='new-form' class='modal show'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create A Presentation</h3>
            </div>

            <div class="modal-body">
                {{partial 'new/_modal'}}
            </div>
        </div>
    </div>
</div>
